:root {
  --accent-color: #705169;
  --text-color: #464d53;
}

.hero {
  width: 100%;
  height: 100vh;
  background: url("./src/images/emiliano-bar-DitA7EZdgoM-unsplash.jpg");
  background-size: cover;

}

body {
  font-family: "Poppins", sans-serif;
}

.hero-container {
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  color: rgb(235, 233, 233);
  padding-bottom: 80px;
  padding-top: 110px;
}

h1 {
  font-weight: 700;
  font-size: 100px;
  font-family: "Sacramento", cursive;
}

h2 {
  font-size: 28px;
}

h3,
h4,
p {
  color: var(--text-color);
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 23px;
}

p {
  font-weight: 100;
}

#bounce {
  animation: bounce 3s linear infinite;
}
@keyframes bounce {
  20% {
    transform: translateY(-10px);
  }
  30% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
}

.fa-chevron-down {
  color: white;
  font-size: 33px;
}
.container .navbar {
  padding-top: 0px!important;
}

.content-container {
  padding-top: 60px;
  padding-bottom: 60px;
}



.section-title {
  padding-bottom: 25px;
}
.headshot {
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 3px 3px 3px rgba(122, 122, 122, 0.2);
}

.btn {
  border: solid 1.5px var(--accent-color);
  padding: 10px 25px;
}
.btn a {
  text-decoration: none;
  color: var(--accent-color);
}
.learn-more-button {
  float: right;
  margin-top: 115px;
  margin-right: 25px;
  padding: 10px 25px;
}
.btn:hover {
  background: #705169;
  transition: 1.5s ease;
  border: none;
  text-decoration: none;
}
.btn:hover a {
  color: #fff;
  text-decoration: none;
}

.weather-screenshot {
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 3px 3px 3px rgba(122, 122, 122, 0.2);
}
.feature-project {
  background-color: #faf9f9;
}
hr {
  margin: 0;
  color: var(--text-color);
}
@media (max-width: 700px) {
  h1 {
    font-size: 60px;
    text-align: center;
  }
  h2 {
    font-size: 18px;
    text-align: center;
  }
  .btn {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 100%;
  }
}
.progressBar .progress .bg-info {
  background-color: #705169!important;
}
.about, .work, .contact {
  background: #faf9f9;
  
}

.about-section, .work-section, .contact-section {
  padding: 100px 30px;
  padding-bottom: 150px;
}
.content-page h1 {
  padding-bottom: 30px;
}


.about-section h2 {
  font-size: 18px;
}
.about-section p{
  font-size: 15px;
  line-height: 30px;
}


.about-image {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.project-screenshot {
  max-width: 100%;
  
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

.work h3 {
  font-size: 24px;
  line-height: 1.5;
  color: black;
}
.work p {
  font-size: 14px;
}
/*------Contact------*/
.email, .phone, .social {
  background-color: #fff;
  box-shadow: 3px 3px rgba(25, 28, 31, 0.2);
  border-radius: 8px;
  text-align: center;  
}
.email, .phone {
  padding: 25px 15px 18px 15px;
  margin-bottom: 15px;
}
.social {
  padding: 30px 15px 30px 10px;
}

#contact h4 {
  font-size: 19px;
  font-weight: 500;
  color: #666;
}

.social-icons i {
  font-size: 24px;
  padding-left: 5px;
  padding-right: 5px;
  color: var(--accent-color);

}
.social-icons a {
  text-decoration: none;
}
@media (min-width: 1200px){
.contact-container {
  margin-left: 200px;
  margin-right: 200px;
}
}

nav {
  padding: 10px 0;
}
.home-nav .home-link, .home-nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}
.section-nav .home-link, .section-nav a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 400;
}
nav a:hover {
  color: var(--accent-color);
}

.home-link {
  font-family: "Sacramento", cursive;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
}
@media (min-width: 641px){
.hero li, .section-nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
}
}
@media (max-width: 640px){
  .hero ul a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
  }
  .content-page ul a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 400;
  }
  .content-page .about-image {
    max-width: 300px;
  }
  ul a:hover {
    color: var(--accent-color);
  }
 .navbar-toggler-icon {
    color: var(--text-color);
  }
}

.nav-link .active {
  color: var(--accent-color);
}

footer {
  text-align: center;
  padding-top: 15px;
  background-color: var(--accent-color);
  color:#fff;
}

footer h5 {
  font-family: 'Sacramento', cursive;
  font-size: 28px;
}

.footer-contact {
  font-size: 14px;
}
.copyright {
  font-size: 12px;
  padding-top: 5px;
}

.back-to-top {
  color:#e0ddda;
  padding-bottom: 20px;
  font-size: 28px;
}
.back-to-top:hover {
  color:#fff;
  text-decoration: none;
  font-weight: 300;
  transform: translateY(-3px);
  transition: 1s ease;
}

footer p {
  color: #fff;
}
footer a {
  text-decoration: none;
}
