:root {
  --accent-color: #17a2b8;
  --text-color: #464d53;
}

.hero {
  width: 100%;
  height: 100vh;
  background: url("./src/images/emiliano-bar-DitA7EZdgoM-unsplash.jpg");
  background-size: cover;
  position: relative;
  opacity: 0.9;
}

body {
  font-family: "Poppins", sans-serif;
}

.hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  color: rgb(235, 233, 233);
  padding-bottom: 80px;
}

h1 {
  font-weight: 700;
  font-size: 100px;
  font-family: "Sacramento", cursive;
}

h2 {
  font-size: 28px;
}

h3,
h4,
p {
  color: var(--text-color);
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 23px;
}

p {
  font-weight: 100;
}

#bounce {
  animation: bounce 3s linear infinite;
}
@keyframes bounce {
  20% {
    transform: translateY(-10px);
  }
  30% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
}

.fa-chevron-down {
  color: white;
  font-size: 33px;
}

.container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-title {
  padding-bottom: 25px;
}
.headshot {
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 3px 3px 3px rgba(122, 122, 122, 0.2);
}

.btn {
  color: var(--accent-color);
  border: solid 1.5px var(--accent-color);
  padding: 10px 25px;
  box-shadow: 3px 3px 3px rgba(122, 122, 122, 0.2);
}
.btn a {
  text-decoration: none;
  color: var(--accent-color);
}
.learn-more-button {
  float: right;
  margin-top: 115px;
  margin-right: 25px;
  padding: 10px 25px;
}
.btn:hover {
  color: #fff;
  background: #117a8a;
  transition: 0.3s ease-in-out;
  border: none;
}
.btn a:hover {
  color: #fff;
}

.weather-screenshot {
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 3px 3px 3px rgba(122, 122, 122, 0.2);
}
.feature-project {
  background-color: #faf9f9;
}
hr {
  margin: 0;
  color: var(--text-color);
}
@media (max-width: 800px) {
  h1 {
    font-size: 75px;
    text-align: center;
  }
  h2 {
    font-size: 18px;
    text-align: center;
  }
  .btn {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 100%;
  }
}
.progressBar .progress .bg-info {
  background-color: #17a2b8!important;
}
.about, .work {
  background: #faf9f9;
  
}

.about-section, .work-section {
  padding: 160px 30px;

}

.about-section h1 {
  font-size: 84px;
  line-height: 80px;
}
.about-section h2 {
  font-size: 18px;
}
.about-section p{
  font-size: 15px;
  line-height: 30px;
}


.about-image {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.project-screenshot {
  max-width: 100%;
  
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

.work h3 {
  font-size: 24px;
  line-height: 1.5;
  color: black;
}
.work p {
  font-size: 14px;
}